# Backend
SERVER_PORT=8081
DB_HOST=localhost
DB_PORT=3306
DB_NAME=hic
DB_USER=root
DB_PASSWORD=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
AUTH_KEY=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
MAIL_HOST=smtp.qq.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
OSS_ENABLED=false
OSS_ENDPOINT=
OSS_BUCKET=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_PUBLIC_DOMAIN=
OSS_FOLDER=hczk
KAFKA_ENABLED=true
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
SEARCH_ENABLED=true
SEARCH_ELASTICSEARCH_URIS=http://localhost:9200
SPRING_AI_OPENAI_API_KEY=
SPRING_AI_OPENAI_BASE_URL=https://api.deepseek.com
SPRING_AI_OPENAI_CHAT_OPTIONS_MODEL=deepseek-chat

# Frontend
VITE_API_BASE_URL=http://localhost:8081
VITE_OSS_PUBLIC_BASE_URL=
